<div class="row mb-3">
  <div class="col">
    <h1>My Recipes</h1>
  </div>
  <div class="col">
   <a class="btn btn-primary float-end" href="/new">New Recipe</a>
  </div>
</div>

<div class="row">
  <% @recipes.each_with_index do |recipe, index|%>
    <div class="col-sm-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title text-dark">
            <%=  recipe.name%>
          </h5>
          <p class="card-text text-muted">
            <%=  recipe.description%>
          </p>
          <a class="btn btn-outline-secondary" href="recipe/<%= index%>">Read More</a>
          <a class="btn btn-outline-danger" href="/delete/<%= index%>">Delete</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
